html, body
{
  height: 100%;
  margin: 0;
}

body
{
background-image: linear-gradient(to right top, #bb1bdb, #e0341d, #1882c1, #0a73aa, #006494);
}

.header
{
	color: rgb(101, 8, 8);font-family: 'Yeon Sung';font-size: 45px;letter-spacing: 10px;margin-top: 80px;
}
.header img
{
	width: 80px;margin-left: -15px;
}

.login_div
{
	background: rgba(255,255,255,0.8);float: none;border-radius: 15px;
}

.logo
{
	width: 80px;margin-top: 30px;border-radius: 40px;
}

#login_button
{
	width: 80%;border-radius: 15px;
}

.room_name
{
	cursor: pointer;
	font-size: 20px;
}


#logout
{
	font-size: 20px; float: right;
}


#output
{
	padding: 10px; width:80%;background: rgba(255,255,255,0.8);border-radius: 15px;
}

.input_div_room_page
{
	width: 80%;
}

.input_div label
{
	color: white;font-size: 20px;
}


.input_div_message_page
{
	position: fixed;bottom: 0px;width: 100%;background: rgba(255,255,255,0.8);
}
.input_div_message_page label
{
	color: black;
}
.input_div_message_page #msg
{
	width: 80%;
}
.input_div_message_page button
{
	margin-top: 15px;
	width: 50%; 
}
.color_white
{
	color: white
}

.user_tick
{
	width:20px;
}
.message_h4
{
	padding-left:5px;color:grey;
}
body{
	margin:0;
	font-family:'Raleway';
	background-color:#e5e5e5;
  }
  
  #sidebar {
	position:absolute;
	top:0;
	left:0;
	height:100%;
	/*border:1px solid black;*/
	background-color:rgb(0, 54, 142);
	width:400px;
	display:flex;
	flex-direction:column;
	justify-content:space-between;
	transition:500ms cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  
  #everything-else {
	max-height:100vh;
  }
  
  .hidden {
	transform:translate(-400px);
  }
  
  .sidebar {
	margin-left:400px;
  }
  
  .top-item,
  .bottom-item {
	width:100%;
	/*border:1px solid red;*/
	display:flex;
	flex-direction:column;
  }
  
  .item {
	/*border:1px solid green;*/
	color:white;
	padding:20px;
	flex:1;
	font-size:24px;
  }
  
  .item:hover {
	background-color:rgb(0, 66, 175);
	color:whitesmoke;
	cursor:pointer;
  }
  
  .bottom-item a,
  .top-item a{
	text-decoration:none;
  }
  
  .toggle {
	transition: 200ms;
	padding:15px;
	font-size:2em;
	background-color:#e5e5e5;
	border-radius:5px;
	text-align:left;
  }
  
  i.fa.fa-bars.toggle.outside.hidden {
	display:none;
  }
  
  .toggle:hover {
	cursor:pointer;
	background-color:#d5d5d5;
  }
  
  h1 {
	text-align:center;
  }
  
  form.login {
	width:50%;
	margin:0 auto;
  }
  
  form.login input {
	width:100%;
	margin:15px 0;
	font-size:1.5em;
  }
  
  ::-webkit-input-placeholder {
	color:#d5d5d5;
  }
  
  .home-page-logo {
	height:26vh;
  }
  
  input[type="submit"] {
	  text-transform: uppercase;
  }
  
  .item.top {
	  text-transform: uppercase;
	  letter-spacing: .25em;
	  font-weight: 700;
	  background-color: rgb(0, 53, 142);
  }
  
  .top-item .item {
	border-bottom: 2px solid rgb(0, 66, 175);
  }
  
  .item .toggle {
	background-color: rgb(0, 53, 142);
	position: absolute;
	right: 15px;
	top: 5px;
  }
  
  .align {
	width:100%;
	height:1.5em;
  }
  
  .toggle.right:hover {
	background-color:rgb(0, 66, 175);
  }
  
  .fa-times:before {
	padding-left:4px;
  }
  
  .me {
	text-decoration:none;
	color:black;
  }
  
  .me:hover {
	color:orange;
  }
  
  #everything-else {
	text-align:center;
  }
  
  .align .fa {
	float:left;
  }
  
  .box {
	  text-align: left;
	  width: 65%;
	  margin: 0 auto;
	  height: 500px;
	  background: rgb(0,66,175);
	  padding: 15px;
	  box-sizing: border-box;
	  border-radius: 15px;
	  border: 2px solid rgb(0,54,142);
	  color: white;
	  line-height: 1em;
  }
  
  .box p {
	  margin: 10px 0;
  }
  
  .address {
	font-weight:700;
	text-decoration:underline;
	font-size:1.25em;
	margin-top:20px;
  }body{
	margin:0;
	font-family:'Raleway';
	background-color:#e5e5e5;
  }
  
  #sidebar {
	position:absolute;
	top:0;
	left:0;
	height:100%;
	/*border:1px solid black;*/
	background-color:rgb(0, 54, 142);
	width:400px;
	display:flex;
	flex-direction:column;
	justify-content:space-between;
	transition:500ms cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  
  #everything-else {
	max-height:100vh;
  }
  
  .hidden {
	transform:translate(-400px);
  }
  
  .sidebar {
	margin-left:400px;
  }
  
  .top-item,
  .bottom-item {
	width:100%;
	/*border:1px solid red;*/
	display:flex;
	flex-direction:column;
  }
  
  .item {
	/*border:1px solid green;*/
	color:white;
	padding:20px;
	flex:1;
	font-size:24px;
  }
  
  .item:hover {
	background-color:rgb(0, 66, 175);
	color:whitesmoke;
	cursor:pointer;
  }
  
  .bottom-item a,
  .top-item a{
	text-decoration:none;
  }
  
  .toggle {
	transition: 200ms;
	padding:15px;
	font-size:2em;
	background-color:#e5e5e5;
	border-radius:5px;
	text-align:left;
  }
  
  i.fa.fa-bars.toggle.outside.hidden {
	display:none;
  }
  
  .toggle:hover {
	cursor:pointer;
	background-color:#d5d5d5;
  }
  
  h1 {
	text-align:center;
  }
  
  form.login {
	width:50%;
	margin:0 auto;
  }
  
  form.login input {
	width:100%;
	margin:15px 0;
	font-size:1.5em;
  }
  
  ::-webkit-input-placeholder {
	color:#d5d5d5;
  }
  
  .home-page-logo {
	height:26vh;
  }
  
  input[type="submit"] {
	  text-transform: uppercase;
  }
  
  .item.top {
	  text-transform: uppercase;
	  letter-spacing: .25em;
	  font-weight: 700;
	  background-color: rgb(0, 53, 142);
  }
  
  .top-item .item {
	border-bottom: 2px solid rgb(0, 66, 175);
  }
  
  .item .toggle {
	background-color: rgb(0, 53, 142);
	position: absolute;
	right: 15px;
	top: 5px;
  }
  
  .align {
	width:100%;
	height:1.5em;
  }
  
  .toggle.right:hover {
	background-color:rgb(0, 66, 175);
  }
  
  .fa-times:before {
	padding-left:4px;
  }
  
  .me {
	text-decoration:none;
	color:black;
  }
  
  .me:hover {
	color:orange;
  }
  
  #everything-else {
	text-align:center;
  }
  
  .align .fa {
	float:left;
  }
  
  .box {
	  text-align: left;
	  width: 65%;
	  margin: 0 auto;
	  height: 500px;
	  background: rgb(0,66,175);
	  padding: 15px;
	  box-sizing: border-box;
	  border-radius: 15px;
	  border: 2px solid rgb(0,54,142);
	  color: white;
	  line-height: 1em;
  }
  
  .box p {
	  margin: 10px 0;
  }
  
  .address {
	font-weight:700;
	text-decoration:underline;
	font-size:1.25em;
	margin-top:20px;
  }